@font-face {
    font-family: "Ubuntu";
    src: url("../../assets/Ubuntu-Bold.ttf") format("ttf");
}

@media(max-width: 600px) {
    details {
        display: block;
        font-size: 0.6rem;
    }
    div {
        display: block;
        font-size: 0.6rem;
    }
}

details {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25%;
    width: 50%;
    /*background: #282828;*/
    /*box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);*/
    border-radius: 5px;
    overflow: hidden;
    font-family: "Ubuntu", "Source Code Pro", "Script MT Bold", "Segoe MDL2 Assets", "Segoe Fluent Icons", sans-serif;
    color: white;
}

summary {
    display: block;
    background: #333;
    padding: 1rem 1rem 1rem 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}


details summary::-webkit-details-marker {
    display:none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

details.subdetails {
    width: 50%;
    margin-left: 25%;
    font-family: "Ubuntu", "Source Code Pro", "Script MT Bold", "Segoe MDL2 Assets", "Segoe Fluent Icons", sans-serif;
    color: white;
    white-space: pre-line;
}

details.maindetails {
    flex: 1;
    margin: 50px;
    min-width: calc(100% * (1/4) - 1px);
    /*margin-right:10px;*/
    /*border-style:solid;*/
    /*height: 30px;*/
}

