@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 1rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeSm);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
          (var(--labelDefaultPosY)) -
          (var(--inputPaddingV) * var(--labelScaleFactor)) -
          (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

@media(max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12px;
  }
  img {
    width: 64px !important;
    height: 64px !important;
  }
  span {
    font-size: 24px;
  }

  details {
    width: 100% !important;
    margin-top: 20px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 24px;
  }

  img {
    width: 540px;
    height: auto;
  }

  summary {
    font-size: 20px;
  }

  .subdetails {
    font-size: 18px;
  }

  .CharactersList-wrapper {
    display: block !important;
  }
}

html {
  background-color: #1c1919;
}

.App {
  text-align: center;
  display: block;
  justify-content: center;
}

.CharactersList-wrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 100%;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

input {
  display: block;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 20%;
  height: 10%;
  margin-bottom: 5%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.hide {
  display: none;
}

